[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # none
  #%]

[% title = BLOCK %]欢迎来到深圳友华通信 Bugzilla 软件缺陷管理系统[% END %]

[% PROCESS global/header.html.tmpl
   title = title
   header_addl_info = "版本 $constants.BUGZILLA_VERSION"
%]

<div id="welcome-admin">
  <p>欢迎， [% user.identity FILTER html %] 。</p>

  <p>你会看到此页面是因为有部份核心参数尚未被设定。此页面的目的是告知你正确安装的最后几个步骤。</p>

  <p>做为一个管理员，你可以透过下方的<a href="admin.cgi">管理</a>链接，浏览所有管理员页面。<br>
     此链接可以在所有页面看到。<br>
     在此链接中，请务必至少浏览<a href="editparams.cgi">参数设定</a>页。<br>
     该页面允许你设定所有重要的参数。同时，你也可以设定以下参数：</p>

  <ul>
    <li>
      <a href="editparams.cgi?section=core#urlbase_desc">urlbase</a><br>
      网址基准。指向安装 [% terms.Bugzilla %] 的机器的网址。也会用于电子邮件中。<br>
      （这也是你会看到此页面的原因：只要此参数未被设定，就会一直看到此页面。）
    </li>

    <li>
      <a href="editparams.cgi?section=core#cookiepath_desc">cookiepath</a><br>
      Cookie 路径。可使你的浏览器正确管理你的 cookie 。
    </li>

    <li>
      <a href="editparams.cgi?section=general#maintainer_desc">maintainer</a><br>
      管理员。当执行已安装 [% terms.Bugzilla %] 的机器发生错误讯息时，要反馈给谁负责。
    </li>
  </ul>

  <p>下列参数也很重要：</p>

  <ul>
    <li>
      <a href="editparams.cgi?section=auth#requirelogin_desc">requirelogin</a><br>
      需要登陆。开启此参数时，将不允许无帐号者使用此 [% terms.Bugzilla %] 。<br>
      换句话说，没有经过授权并拥有有效帐号密码的用户，将无法看见任何资料。<br>
      如果你希望所有资料不对外公开时，可开启此参数。
    </li>

    <li>
      <a href="editparams.cgi?section=auth#createemailregexp_desc">createemailregexp</a><br>
      允许建立新帐号的正则表达式。此参数定义哪些用户可以建立新帐号。<br>
      如果设定为 ".*" (预设值)，则所有人均可建立新帐号。<br>
      如果设定为 "@mycompany.com$"，则只有拥有 @mycompany.com 帐号的用户可以建立新帐号。<br>
      如果留空，将不允许用户自行建立新帐号，仅能由管理员建立。<br>
      如果你不希望公开此 [% terms.Bugzilla %] ，你必须将此参数设为预设值以外的值。
    </li>

    <li>
      <a href="editparams.cgi?section=mta#mail_delivery_method_desc">mail_delivery_method</a><br>
      信件传送方式。定义信件使用何种方式传送，例如 sendmail 或 SMTP 。必须设定正确，才能寄送邮件。
    </li>
  </ul>

  <p>
    在设定完成之后，我们也建议你有空时不妨看看其他的 Bugzilla 参数设定。<br>
    这样你才能明白他们的功用，以及在需要时修改这些设定。
  </p>
</div>

[% PROCESS global/footer.html.tmpl %]
