[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # comp: object; Bugzilla::Component object representing the component
  # product: object; Bugzilla::Product object representing the product to
  #               which the component belongs.
  #%]

<hr>

<p>
  编辑[% IF comp && !no_edit_component_link %]模块<a
  title="编辑模块 '[% comp.name FILTER html %]'"
  href="editcomponents.cgi?action=edit&amp;product=
  [%- product.name FILTER uri %]&amp;component=[% comp.name FILTER uri %]">
   '[% comp.name FILTER html %]'</a>，或是编辑[% END %][% IF !no_edit_other_components_link %]项目<a
  title="从项目 '[% product.name FILTER html %]' 中选择一个模块进行编辑"
  href="editcomponents.cgi?product=
  [%- product.name FILTER uri %]">'[% product.name FILTER html %]'</a>的其他模块，或是编辑[% END %]项目<a
  title="编辑项目 '[% product.name FILTER html %]'"
  href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER uri %]">'[% product.name FILTER html %]'</a>。

</p>
