[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "$terms.Bug 变更策略"
   desc = "设定 $terms.bug 变更的策略"
%]

[% accept_status = display_value('bug_status', 'IN_PROGRESS') FILTER html %]

[% param_descs = {
  duplicate_or_move_bug_status => "当 $terms.bug 被标记为和另一个 $terms.bug 重复 (DUPLICATE) ，" _
                                  "或是搬到另一台安装的机器上时，使用此状态。",

  letsubmitterchoosepriority => "若设为「开」，则反馈 $terms.bug 的用户可以选择它的优先程度为何。" _
                                "若设为「关」，则使用预设的优先程度值。",

  letsubmitterchoosemilestone => "若设为「开」，则反馈 $terms.bug 的用户可以选择它的目标里程碑为何。" _
                                 "若设为「关」，则使用该项目预设的目标里程碑。",

  musthavemilestoneonaccept =>
    "使用 ${field_descs.target_milestone} 时，是否要求用户在接受一个 $terms.bug 时，设定目标里程碑？",

  commentonchange_resolution => "若设为「开」，当变更 $terms.bug 的解决方案时，用户需要输入意见。",

  commentonduplicate => "若设为「开」，当 $terms.bug 被标记为重复 (DUPLICATE) 时，用户需要输入意见。",

  noresolveonopenblockers => "若设为「开」，当 $terms.bug 的依赖关系树还有未解的的 $terms.bugs 时，" _
                             "将不允许设定解决方案为已修修复 (FIXED) 。" }
%]
