[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Memcached"
   desc = "Set up Memcached integration"
%]

[% param_descs = {
    memcached_servers =>
      "若设定此选项， Bugzilla 会使用 Memcached 。" _
      "以 hostname:port 的方式，指定一台或多台 Memcached 服务器地址。" _
      "（例如： 127.0.0.1:11211 ）" _
      "若有多台服务器，以半型空白隔开。" ,

    memcached_namespace =>
      "指定每个使用于 Memcached 的设定键前置字符串。",
  }
%]
