[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "用户符合策略"
   desc = "设定你的用户符合策略"
%]

[% param_descs = {
  usemenuforusers => "若此选项设为「开」， Bugzilla 将会让你自列表中选择用户，" _
                     "而非自输入框输入。当此站台有大量用户时，不建议使用此选项。",

  ajax_user_autocompletion => "若此选项设为「开」，在特定栏位输入时，将会开启自动完成功能，" _
                              "显示和已输入字串符合的结果列表。",

  maxusermatches => "不显示超过此数字以上的搜索符合结果。<br>" _
                    "如果设为 1 ，将不允许模稜两可的符合结果。<br>" _
                    "这对用户隐私权很有帮助。<br>" _
                    "若不限制，请设为 0 。",

  confirmuniqueusermatch => "当只有一位用户符合搜索时，是否显示确认页。" }
%]
