[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% addressee %]
Subject: [[% terms.Bugzilla %]] 健康度测试结果
X-Bugzilla-Type: sanitycheck

[%+ urlbase %]sanitycheck.cgi

你可以在下方查看健康度测试的结果。
[% IF error_found %]
找到一些错误。
[% ELSE %]
并未找到任何错误。
[% END %]

[% output %]
