[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

Content-Type: text/plain
From: [% Param('mailfrom') %]
To: [% user.email %]
Subject: [[% terms.Bugzilla %]] 管理员使用了你的帐号 [% user.login -%]
X-Bugzilla-Type: admin

[%+ sudoer.identity %] 执行了 'sudo' 功能，进入了你的 [%+ terms.Bugzilla %] 帐号。

[% IF reason %]
[%+ sudoer.identity %] 这么做的理由如下：

[% reason FILTER wrap_comment %]
[% ELSE %]
[%+ sudoer.identity %] 并未说明为何这样做。
[% END %]

如果你觉得有什么不妥，请联系 [%+ Param("maintainer") %] 。
关于此功能的更多信息，请参考 <[% urlbase %]page.cgi?id=sudo.html> 。
