[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # original_bug_id: number; the bug number for the bug
  #   against which a bug is being duped
  # duplicate_bug_id: number; the bug number for the bug
  #   being duped
  # cclist_accessible: boolean; whether or not users on the cc: list
  #   of the original bug can access that bug.
  #%]

[% PROCESS global/header.html.tmpl title="警告：将 $terms.bug 标记为重复" %]
[% orig_bug = "$terms.bug $original_bug_id"
     FILTER bug_link(original_bug_id) %]

<p>
  当把一个 [% terms.bug %] 标记为重复的时候，反馈此重复 [% terms.bug %] 的人将会被加入到原先的 [% terms.bug %] 的邮件抄送列表中。在 [% orig_bug FILTER none %] （也就是原先的 [% terms.bug %] ）的权限设定上，反馈此重复 [% terms.bug %] 的人通常是无法看见的。
</p>

<p>
  <b>把反馈者加入 [% orig_bug FILTER none %] 的邮件抄送列表的话，将会使反馈者[% IF cclist_accessible %]立刻[% ELSE %]未来可能[% END %]拥有浏览这个 [% terms.bug %] 的权限。</b>你确定吗？
</p>

<form method="post" action="process_bug.cgi">

[% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]

<p>
  <input type="radio" name="confirm_add_duplicate" value="1">
    是的，将反馈者加到 [% orig_bug FILTER none %] 的邮件抄送列表中
</p>
<p>
  <input type="radio" name="confirm_add_duplicate" value="0" checked="checked">
    不，不要将反馈者加到 [% orig_bug FILTER none %] 的邮件抄送列表中
</p>
<p>
  [% "删除我所做的变更，并重新浏览 $terms.bug $duplicate_bug_id"
     FILTER bug_link(duplicate_bug_id) FILTER none %]
</p>
<p>
  <input type="submit" id="process" value="提交">
</p>

</form>

[% PROCESS global/footer.html.tmpl %]
