[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% newemailaddress %]
Subject: [% terms.Bugzilla %] 要求变更电子邮件地址
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] 收到将使用 [% user.email %] 注册的帐号变更为使用此电子邮件地址注册的要求。

如要确认变更，请点击以下网址：

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cfmem

如果你并非提出此项要求的人，或者你想要取消此项要求，请点击以下网址：

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlem

如果你什么也不做，此项请求将会在 [% constants.MAX_TOKEN_AGE %] 天后
([% expiration_ts FILTER time("%Y-%m-%d %H:%M %Z") %]) 失效。
