[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% user.email %]
Subject: [% terms.Bugzilla %] 要求变更电子邮件地址
Importance: High
X-MSMail-Priority: High
X-Priority: 1
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] 收到将你的帐号改为使用 [%+ newemailaddress %] 注册的要求。

如果你并非提出此项要求的人，或者你想要取消此项要求，请点击以下网址：

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlem

如果你什么也不做，而且 [%+ newemailaddress %] 也确认了此要求，
那么此项变更将会在 [% constants.MAX_TOKEN_AGE %] 天后
([% expiration_ts FILTER time("%Y-%m-%d %H:%M %Z") %]) 永远生效。
