[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # token: string. The token to be used in the user account creation.
  # email: email address of the user account.
  # expiration_ts: expiration date of the token.
  #%]

[% title = BLOCK %]以 '[% email FILTER html %]' 建立新账号[% END %]
[% PROCESS "global/header.html.tmpl"
           title = title
%]

[% password_complexity = Param('password_complexity') %]

<p>
要建立你的帐号，必须在下方的表单中输入密码。你的电子邮件地址以及真实姓名（如果有提供的话）会和你所做的变动一并显示。
</p>

<form id="confirm_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="confirm_new_account">
  <table>
    <tr>
      <th>电子邮件地址：</th>
      <td>[% email FILTER html %]</td>
    </tr>
    <tr>
      <th><small><i>（选填）</i></small> <label for="realname">真实姓名</label>：</th>
      <td><input id="realname" name="realname" autofocus></td>
    </tr>
    <tr>
      <th><label for="passwd1">输入你的密码</label>：</th>
      <td>
        <input type="password" id="passwd1" name="passwd1" value="" required>
        （密码最少 [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 个字符
        [% IF password_complexity == "mixed_letters" %]
          ，并且必须包含至少一个大写字母和一个小写字母
        [% ELSIF password_complexity == "letters_numbers" %]
          ，並且必须包含至少一个大写字母、一个小写字母以及一个数字
        [% ELSIF password_complexity == "letters_numbers_specialchars" %] 
          ，並且必須包含至少一个字母、一个数字以及一个特殊字元
        [% END ~%]
        。）
      </td>
    </tr>
    <tr>
      <th><label for="passwd2">确认你的密码</label>：</th>
      <td><input type="password" id="passwd2" name="passwd2" value="" required></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td><input type="submit" id="confirm" value="建立"></td>
    </tr>
  </table>
</form>

<p>
如果在 <b>[% expiration_ts FILTER time("%Y-%m-%d %H:%M %Z") %]</b> 之前，未完成此表单的话，将不会建立此帐号。
</p>

<p>
如果你不想要以此电子邮件建立帐号的话，按下方的「取消建立帐号」键，你的所有信息将会被删除。
</p>

<form id="cancel_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="cancel_new_account">
  <input type="submit" id="confirm" value="取消建立账号">
</form>

[% PROCESS global/footer.html.tmpl %]
