[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

模板的 hook 放在这目录下。它们在一般的 Bugzilla 模板是以类似
[[% '%' %] Hook.process('some-hook') %] 的方式调用。
可以在 Bugzilla::Extension 的文件里找到更多信息。
（在 Bugzilla 主目录执行 "perldoc Bugzilla::Extension" 即可查看。）
