[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

可透过网络存取的文件，像是 JavaScript 、 CSS 以及图形都放在此目录中。
你可以在 HTML 里直接指向这些文件。例如，如果你有个文件叫
"style.css" ，而你的扩充元件叫 "Foo" ，你就可以把它放在
"extensions/Foo/web/style.css"
并在 HTML 中以下列语法链接：

<link href="extensions/Foo/web/style.css" rel="stylesheet" type="text/css">
