[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Migration note: this file corresponds to the old Param
  # 'entryheaderhtml'
  #%]

[%# You can make the output of this template product-specific by using
  # Template Toolkit IF statements.  The current product name is stored in
  # the 'product' variable.
  #%]

在反馈 [% terms.bug %] 之前，请阅读
<a href="page.cgi?id=bug-writing.html">[% terms.bug %] 反馈编写技巧</a>，参考一下<a
href="duplicates.cgi">最常反馈的 [% terms.bugs %] 列表</a>，并且<a 
href="query.cgi">搜索</a> [% terms.bug %] 是否存在。

