[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
   title = "开始 sudo"
   generate_api_token = 1
   style_urls = ['skins/standard/admin.css']
   doc_section = "administering/users.html#impersonating-users"
 %]

[% DEFAULT target_login = "" %]

<p>
  Bugzilla 的 <b>sudo</b> 功能允许你暂时 sudo 其他用户的帐号。当执行
  sudo 时，你所做的所有动作将视同为你以该用户的身份登录进行的动作。
</p>

<p class="areyoureallyreallysure">
  这是个强大的功能，使用它时必须十分小心。所有的动作将会完全被记录。
</p>

<form action="relogin.cgi" method="POST">
  <p>
    要开始 sudo ，[% IF Param('usemenuforusers') %]选择[% ELSE %]输入[% END %]<label for="target_login">用户帐号
    (<u>U</u>)</label> ：
    [% INCLUDE global/userselect.html.tmpl
       id => "target_login"
       name => "target_login"
       value => target_login_default
       accesskey => "u"
       size => 30
       mandatory => 1
    %]
  </p>

  [% IF !Param('usemenuforusers') %]
    <p>
      用户帐号必须完全输入正确。不会执行符合字串的搜索。
    </p>
  [% END %]

  <p>
    接下来，请花点时间解释<label for="reason">你为什么这么做：<br>
    <input type="text" id="reason" name="reason" size="80" maxlength="200"
           value="[% reason_default FILTER html %]">
  </p>

  <p>
    以上的原因将会以电子邮件通知被你 sudo 的用户。你也可以不填，不过用户仍旧会知道你曾经 sudo 过。
  </p>

  [% IF user.authorizer.can_login %]
    <p>
      最后，输入<label for="Bugzilla_password">你的 [% terms.Bugzilla %] 密码</label>：
      <input type="hidden" name="Bugzilla_login" value="[% user.login FILTER html %]">
      <input type="password" id="Bugzilla_password" name="Bugzilla_password" size="20" required>
      <input type="hidden" name="Bugzilla_login_token"
             value="[% login_request_token FILTER html %]">
      <br>
      这么做有两个原因。<br>
      第一，这可以减少其他人使用你已经登录的帐号做坏事的机会。<br>
      第二，让你再次考虑是否真的需要使用此功能。
    </p>
  [% END %]

  <p>
    点击以下按键开始 sudo ：
    <input type="submit" id="begin_sudo" value="开始 sudo">
    <input type="hidden" name="action" value="begin-sudo">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </p>

</form>

[% PROCESS global/footer.html.tmpl %]
