[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # added_quip: string. Defined if the CGI added a quip data before
  #                displaying anything; if defined, its value is that quip.
  # show_quips: boolean. True if we are showing the entire quip list.
  # quips: list of strings. Defined if and only if show_quips is true.
  #                List of all quips.
  #%]

[% PROCESS global/header.html.tmpl
           title = "Bugzilla 标语系统"
           header = "新增自己的大标题"
           style_urls = ['skins/standard/buglist.css']
 %]

<p>
  Bugzilla 会随机选择一条标语做为每个 [% terms.bug %] 列表的大标题。
</p>

[% IF Param("quip_list_entry_control") != "closed" %]
  <p>
    你可以添加一条标语，只要输入聪明的、有趣的，甚至无聊的句子（但请勿输入十八禁的或具有攻击性的句子），然后按下「提交」键即可。
    [% IF Param("quip_list_entry_control") == "moderated" AND !user.in_group('bz_quip_moderators') %]
      注意：在标语被采用前，将先接受审核。
    [% END %]
  </p>

  <form method="post" action="quips.cgi">
    <input type="hidden" name="action" value="add">
    <input type="hidden" name="token"
           value="[% issue_hash_token(['create-quips']) FILTER html %]">
    <input size="80" name="quip" maxlength="512" required>
    <p>
      <input type="submit" id="add" value="提交">
    </p>
  </form>
[% ELSE %]
  <p>现在不允许输入新的标语。
  </p>
[% END %]

[% IF show_quips %]
  [% IF !user.in_group('bz_quip_moderators') %]
    <h2>
      已存在的标语：
    </h2>
    <ul>
      [% FOREACH quipid = quipids %]
        [% NEXT IF NOT quips.$quipid.approved %]
        <li>[% quips.$quipid.quip FILTER html %]</li>
      [% END %]
    </ul>
  [% ELSE %]
    <h2>编辑已存在的标语：</h2>
    <p>
      <strong>注意：</strong>只会显示审核通过的标语。
      如果参数 'quip_list_entry_control' 设为<q>开</q>，将会把输入的标语自动审核通过。
    </p>
    <form name="editform" method="post" action="quips.cgi">
      <input type="hidden" name="action" value="approve">
      <input type="hidden" name="token"
             value="[% issue_hash_token(['approve-quips']) FILTER html %]">
      <table id="quips">
        <thead>
        <tr class="column_header">
          <th>标语</th>
          <th>作者</th>
          <th>动作</th>
          <th>审核通过</th>
        </tr>
        </thead>

        <tbody>
        [% FOREACH quipid = quipids %]
          <tr>
            <td>[% quips.$quipid.quip FILTER html %]</td>
            <td>
              [% userid = quips.$quipid.userid  %]
              [% users.$userid FILTER html      %]
              [% "未知的" IF NOT users.$userid %]
            </td>
            <td>
              <a href="quips.cgi?action=delete&amp;quipid=[% quipid FILTER uri %]&amp;token=
                 [%- issue_hash_token(['quips', quipid]) FILTER uri %]">
                刪除
              </a>
            </td>
            <td class="center">
              <input type="hidden" name="defined_quipid_[% quipid FILTER html %]"
                     id="defined_quipid_[% quipid FILTER html %]"
                     value="1">
              <input type="checkbox" name="quipid_[% quipid FILTER html %]"
                     id="quipid_[% quipid FILTER html %]"
                     [%- ' checked="checked"' IF quips.$quipid.approved %]>
            </td>
          </tr>
        [% END %]
        </tbody>
      </table>

      <input type="button" id="uncheck_all" value="取消全选"
             class="bz_default_hidden" onclick="SetCheckboxes(false);">
      <input type="button" id="check_all" value="全选"
             class="bz_default_hidden" onclick="SetCheckboxes(true);">
      <input type="submit" id="update" value="储存设定">

      <script type="text/javascript">
        <!--
        var numelements = document.forms.editform.elements.length;
        function SetCheckboxes(value) {
          var item;
          for (var i=0 ; i<numelements ; i++) {
            item = document.forms.editform.elements[i];
            item.checked = value;
          }
        }
        YAHOO.util.Dom.removeClass("check_all", "bz_default_hidden");
        YAHOO.util.Dom.removeClass("uncheck_all", "bz_default_hidden");
        //-->
      </script>
    </form>
    <br>
  [% END %]
[% ELSE %]
  <p>
    想要全部列出的人，也可以<a
    href="quips.cgi?action=show">浏览[% IF user.in_group('bz_quip_moderators') %]并编辑[% END %]整个标语的列表</a>。
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
