[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% SET reason_descs = {
  ${constants.REL_ASSIGNEE} => "你是这个$terms.bug 的负责人",
  ${constants.REL_REPORTER} => "你反馈了这个 $terms.bug 。",
  ${constants.REL_QA}       => "你是这个 $terms.bug 的 QA 联系人。",
  ${constants.REL_CC}       => "你在这个 $terms.bug 的寄件抄送列表中。",
  ${constants.REL_GLOBAL_WATCHER} => "你正在监控所有对 $terms.bug 的变更。"
} %]

[% SET watch_reason_descs => {
  ${constants.REL_ASSIGNEE} =>
    "你在监控这个 $terms.bug 的负责人。",
  ${constants.REL_REPORTER} =>
    "你在监控这个 $terms.bug 的反馈者。",
  ${constants.REL_QA}       =>
    "你在监控这个 $terms.bug 的 QA 联系人。",
  ${constants.REL_CC}       =>
    "你在监控这个 $terms.bug 的寄件抄送列表中的某个人。",
} %]

[% Hook.process('end') %]
