[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject:  [% terms.Bugzilla %] 变更密码请求
X-Bugzilla-Type: admin

你（或者有人伪装成你）要求变更你的 [%+ terms.Bugzilla %] 密码。
此要求来自 [% ip_addr %] 。

要完成此变更，请点以下链接：

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cfmpw

如果你并不是发出请求的人，或者你想要取消此请求，请点以下链接：

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlpw

如果你不做任何动作，此请求将于 [% constants.MAX_TOKEN_AGE %] 天后
([% expiration_ts FILTER time("%Y-%m-%d %H:%M %Z", timezone) %]) 或是你登入成功后失效。

如果你认为有人试图入侵你的账号，请將信件上所提供的 IP 以及你收到这封电子邮件的精确时间，
通知 [%+ Param('maintainer') %] 。