[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = "变更密码" %]
[% PROCESS global/header.html.tmpl %]
[% password_complexity = Param('password_complexity') %]
<p>
如要变更你的密码，请输入新的密码两次：<br>
</p>
<ul>
  <li>Password must be at least [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] characters long.</li>
  [% IF password_complexity == "mixed_letters" %]
  <li>密码必须包含至少一个大写字母以及一个小写字母。</li>
  [% ELSIF password_complexity == "letters_numbers" %]
  <li>密码必须包含至少一个大写字母、一个小写字母以及一个数字。</li>
  [% ELSIF password_complexity == "letters_numbers_specialchars" %]
  <li>密码必须包含至少一个字母、一个数字以及一个特殊字符。</li>
  [% END %]
</ul>

<form method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="chgpw">
  <table>
    <tr>
      <th>新的密码：</th>
      <td>
        <input type="password" name="password" required>
        (最少 [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 个字符)
      </td>
    </tr>

    <tr>
      <th>再次输入新的密码：<th>
      <td>
        <input type="password" name="matchpassword" required>
      </td>
    </tr>

    <tr>
      <th>&nbsp;</th>
      <td>
        <input type="submit" id="update" value="提交">
      </td>
    </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]
