[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # field: object; the field object that you are trying to delete.
  # token: string; the delete_field token required to complete deletion.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% title = BLOCK %]
  删除自订栏位 '[% field.name FILTER html %]' ([% field.description FILTER html %])
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           style_urls = ['skins/standard/admin.css']
           doc_section = "administering/custom-fields.html#deleting-custom-fields"
%]

<table id="admin_table">
  <tr class="column_header">
    <th>栏位</th>
    <th>值</th>
  </tr>
  <tr>
    <td>自订栏位</td>
    <td>[% field.name FILTER html %]</td>
  </tr>
  <tr>
    <td>描述</td>
    <td>[% field.description FILTER html %]</td>
  </tr>
  <tr>
    <td>种类</td>
    <td>[% field_types.${field.type} FILTER html %]</td>
  </tr>
</table>

<h2>确认</h2>

<p class="confirmation">
  你确定要从数据库中删除此自订栏位吗？<br>
  <em>此动作仅在该栏位已作废，且从未于任何 [% terms.bug FILTER html %] 中使用过，才会成功。</em>
</p>

<a href="editfields.cgi?action=delete&amp;name=[% field.name FILTER html %]&amp;token=[% token FILTER html %]">
  删除栏位 '[% field.description FILTER html %]'</a>

<p>
  <a href="editfields.cgi">回到现有的自订栏位列表</a>
</p>

[% PROCESS global/footer.html.tmpl %]
