[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # field: Bugzila::Field; the current field being edited
  #%]

[% title = BLOCK %]
  编辑自订栏位 '[% field.name FILTER html %]' ([% field.description FILTER html %])
[% END %]

[% javascript = BLOCK %]
  [% INCLUDE "admin/custom_fields/cf-js.js.tmpl" %]
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           onload = "toggleCheckbox(document.getElementById('enter_bug'), 'new_bugmail');"
           javascript_urls = [ 'js/util.js' ]
           doc_section = "administering/custom-fields.html#editing-custom-fields"
           style_urls = ['skins/standard/admin.css']
%]

<p>
  「描述」是一个用来描述栏位，而且非常短的字串。将会在用户介面使用它来当作这个自订栏位的标签。
</p>

<form id="edit_field" action="editfields.cgi" method="GET">
  [% PROCESS "admin/custom_fields/edit-common.html.tmpl" field = field %]

  <input type="hidden" name="action" value="update">
  <input type="hidden" name="name" value="[% field.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="edit" value="提交">
</form>

[% IF field.obsolete %]
<p>
  <a href="editfields.cgi?action=del&amp;name=[% field.name FILTER html %]">自数据库中刪除此自订字段。</a><br>
  只有在此自订字段从未于 [% terms.bug %] 中使用过时，才会成功。
</p>
[% END %]

<p>
  <a href="editfields.cgi">回到现有的自订字段列表</a>
</p>

[% PROCESS global/footer.html.tmpl %]
