[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl
   title = "编辑流程"
   style_urls = ['skins/standard/admin.css']
%]

<script type="text/javascript">
<!--
  function toggle_cell(cell) {
    if (cell.checked)
      cell.parentNode.className = "checked";
    else
      cell.parentNode.className = "";
  }
//-->
</script>

<p>
  此页面允许你定义在流程中哪些状态的变更是有效的。<br>
  为了向下相容较旧版本的 Bugzilla ，因此当你重新开启了一个 [% terms.bug %]
  时，将只会以[% display_value("bug_status", "UNCONFIRMED") FILTER html %] 或
  [%+ display_value("bug_status", "REOPENED") FILTER html %]
  （如果在流程中允许此状态），而非同时显示。<br>
  显示的方式决定于这个 [% terms.bug %] 是否被确认过。<br>
  因此建议你允许此两种变更，让 Bugzilla 自动正确选择。
</p>

<form id="workflow_form" method="POST" action="editworkflow.cgi">
<table id="workflow">
  <tr>
    <th colspan="2">&nbsp;</th>
    <th colspan="[% statuses.size FILTER html %]" class="title">到</th>
  </tr>

  <tr>
    <th rowspan="[% statuses.size + 2 FILTER html %]" class="title">从</th>
    <th>&nbsp;</th>
    [% FOREACH status = statuses %]
      <th class="[% status.is_open ? "open-status" : "closed-status" %] center">
        [% display_value("bug_status", status.name) FILTER html %]
      </th>
    [% END %]
  </tr>

  [%# This defines the entry point in the workflow %]
  [% p = [{id => 0, name => "{开始}", is_open => 1}] %]
  [% FOREACH status = p.merge(statuses) %]
    <tr class="highlight">
      <th class="[% status.is_open ? "open-status" : "closed-status" %]">
        [% display_value("bug_status", status.name) FILTER html %]
      </th>

      [% FOREACH new_status = statuses %]
        [% IF status.id != new_status.id %]
          [% checked = workflow.${status.id}.${new_status.id}.defined ? 1 : 0 %]
          [% mandatory = (status.id && new_status.name == Param("duplicate_or_move_bug_status")) ? 1 : 0 %]
          <td class="[% "checked" IF checked || mandatory %]"
              title="从 [% status.name FILTER html %] 到 [% new_status.name FILTER html %]">
            <input type="checkbox" name="w_[% status.id %]_[% new_status.id %]"
                   id="w_[% status.id %]_[% new_status.id %]" onclick="toggle_cell(this)"
                   [%+ "checked='checked'" IF checked || mandatory %]
                   [%+ "disabled='disabled'" IF mandatory %]>
          </td>
        [% ELSE %]
          <td class="forbidden">&nbsp;</td>
        [% END %]
      [% END %]
    </tr>
  [% END %]
</table>

<p>
  当 [% terms.bug %] 标记为和另一个 [% terms.bug %] 重复，或是已经移到另一台机器上时，
  [% terms.bug %] 的状态将自动设定为 <b>[% display_value("bug_status", Param("duplicate_or_move_bug_status")) FILTER html %]</b> 。
  所有对这个 [% terms.bug %] 状态所做的变更都必须是有效的。（这也是你为什么无法在上面编辑的原因。）<br>
  注意：你可以浏览<a
  href="editparams.cgi?section=bugchange#duplicate_or_move_bug_status">参数设定</a>页，并编辑
  <i>duplicate_or_move_bug_status</i> 参数来变更此设定。
</p>

<p class="center">
  <input type="hidden" name="action" value="update">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="update_workflow" value="确定变更"> -
  <a href="editworkflow.cgi">取消变更</a> -
  <a href="editworkflow.cgi?action=edit_comment">浏览哪些状态变更需要留下意见</a>
</p>

</form>

[% INCLUDE global/footer.html.tmpl %]
