[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = BLOCK %]
  确认对项目 '[%- product.name FILTER html %]' 做出群组控制的变更
[% END %]

[% PROCESS global/header.html.tmpl title = title %]

[% FOREACH group = mandatory_groups %]
  <p>
    由于群组 '[% group.name FILTER html %]' 设定为强制 (MANDATORY)，因此将新增受该群组影响的
    [% group.count %] 个 [%+ terms.bugs %] 。
  </p>
[% END %]

[% FOREACH group = na_groups %]
  <p>
    群组 '[% group.name FILTER html %]' 影响了 [% group.count %] 个 [% terms.bugs %] ，这些
    [% terms.bugs %] 已不再适用于此群组，因此将会被移除。
  </p>
[% END %]

<form action="editproducts.cgi" method="post" >
  [% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]
  <p>
    <br>
    点击「继续」键确认上方的所有变更。如果你不想做出上列变更，请点击「上一页」按键回到上一页。
  </p>
  <input type="hidden" name="confirmed" value="confirmed">
  <input type="submit" id="update" value="继续">
</form>

[% PROCESS global/footer.html.tmpl %]
