[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% series_name = BLOCK %]
  [% series.category FILTER html %] /
  [%+ series.subcategory FILTER html %] /
  [%+ series.name FILTER html %]
[% END %]

[% PROCESS global/header.html.tmpl title = "删除系列"
                                   style_urls = ['skins/standard/admin.css'] %]

<p>
  你即将从资料库中删除 <b>[% series_name FILTER none %]</b> 系列。
  所有资料将永久删除。
</p>
<p>
  [% IF series.creator %]
    此系列由 <a href="mailto:[% series.creator.email FILTER html %]">
    [% series.creator.email FILTER html %]</a> 建立
  [% ELSE %]
    此系列由 Bugzilla 自动建立
  [% END %]

  [% IF series.public %]
    ，并且是公开的。
  [% ELSIF series.creator %]
    ，并且仅限该用户可见。
  [% ELSE %]
    ，并且任何人均无法查看。
  [% END %]
</p>

<p class="areyoureallyreallysure">你确定要删除此系列吗？</p>

<p>
  <a href="chart.cgi?action=delete&amp;series_id=[% series.series_id FILTER html %]&amp;token=
           [%- issue_hash_token([series.id, series.name]) FILTER uri %]">是的，删除</a> |
  <a href="chart.cgi">不，回到图表页</a>
</p>

[% PROCESS global/footer.html.tmpl %]
