[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% hidden_products = 0 %]
<table id="user_responsibilities">
  [% FOREACH item = otheruser.product_responsibilities %]
    [% IF !user.can_see_product(item.product.name) %]
      [% hidden_products = 1 %]
      [% NEXT %]
    [% END %]
    <tbody>
    <tr>
      <th colspan="4" class="product">项目： [% item.product.name FILTER html %]</th>
    </tr>
    <tr>
      <th>模块</th>
      <th>预设负责人</th>
      <th>预设 QA 连络人</th>
      <th>预设邮件抄送列表</th>
    </tr>
    [% FOREACH comp = item.components %]
      <tr>
        <td>
          [% IF user.in_group("editcomponents", comp.product_id) %]
            <a href="editcomponents.cgi?action=edit&amp;product=
                     [% item.product.name FILTER uri %]&amp;component=
                     [% comp.name FILTER uri %]">
          [% END %]
          [% comp.name FILTER html %]
          [% IF user.in_group("editcomponents", comp.product_id) %]
            </a>
          [% END %]
        </td>
        [% FOREACH responsibility = ['default_assignee', 'default_qa_contact'] %]
          <td class="center">
            [% comp.$responsibility.id == otheruser.id ? "X" : "&nbsp;" %]
          </td>
        [% END %]
        <td class="center">
          [% comp.initial_cc.contains(otheruser) ? "X" : "&nbsp;" %]
        </td>
      </tr>
    [% END %]
    </tbody>
  [% END %]
</table>

[% IF hidden_products %]
  <p class="criticalmessages">此用户和至少一种你无法浏览的项目有关连，因此该项目并未列出。你必须要求有足够权限的管理员对此用户进行授权。</p>
[% END %]
