[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  #
  # editusers:          is viewing user member of editusers?
  # restrictablegroups: list of groups visible to the user:
  #                     id: group id
  #                     name: group name
  #%]


[% PROCESS global/header.html.tmpl
  title = "搜索用户"
  style_urls = ['skins/standard/admin.css']
  doc_section = "administering/users.html"
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

<form name="f" method="get" action="editusers.cgi">
<input type="hidden" name="action" value="list">
<p><label for="matchvalue">以下列条件列出用户</label>
<select id="matchvalue" name="matchvalue">
  <option value="login_name">账号</option>
  <option value="realname">真实姓名</option>
  <option value="userid">用户编号</option>
</select>
<label for="matchstr">符合</label>
<input size="32" name="matchstr" id="matchstr" autofocus>
<select name="matchtype">
  <option value="substr" selected="selected">子字串（忽略大小写）</option>
  <option value="regexp">正则表达式（忽略大小写）</option>
  <option value="notregexp">不符合正则表达式（忽略大小写）</option>
  <option value="exact">完全符合（搜索该用户）</option>
</select>
<input type="submit" id="search" value="搜索">
</p>

[% IF restrictablegroups.size %]
  <p><input type="checkbox" name="grouprestrict" value="1" id="grouprestrict">
  <label for="grouprestrict">限制用户属于群组…</label>
  <select name="groupid"
          onchange="document.forms['f'].grouprestrict.checked=true">
    [% FOREACH group = restrictablegroups %]
      <option value="[% group.id FILTER html %]">[% group.name FILTER html %]</option>
    [% END %]
  </select></p>
[% END %]

<p>
  将搜索范围限制在
  <select name="is_enabled">
      <option value="2">所有的</option>
      <option value="1" selected>已启用的</option>
      <option value="0">已停用的</option>
  </select>
  使用者。
</p>

[% Hook.process('end') %]

</form>

[% IF editusers %]
  <p>
    你也可以<a href="editusers.cgi?action=add">新增用户</a>[%- IF listselectionvalues %]，或者<a
    href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">再次显示用户列表</a>[%- END %]。
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
