[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # login: string. The user's Bugzilla login email address.
  #%]

[% title = BLOCK %]
  已提交建立新账号 '[% login FILTER html %]' 的请求
[% END %]

[% PROCESS global/header.html.tmpl title = title %]

<p>
  已寄出一封含有认证链接的电子邮件。如果帐号没有被建立，该链接将会在
  [% constants.MAX_TOKEN_AGE FILTER html %] 天后失效。
</p>

[% PROCESS global/footer.html.tmpl %]
