[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # group: The Bugzilla::Group being changed.
  # regexp: the regexp according to which the update is performed.
  #%]

[% IF regexp %]
  [% title = "确认：删除符合正则表达式的指定成员吗？" %]
[% ELSE %]
  [% title = "确认：删除指定的成员吗？" %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  doc_section = "administering/groups.html"
%]

[% IF regexp %]
  <p>此选项将会把符合下列正则表达式的所有用户从
     '[% group.name FILTER html %]' 群組中移除：<br>
     '[% regexp FILTER html %]'</p>
[% ELSE %]
  <p>此选项将会自 '[% group.name FILTER html %]' 群组中移除所有指定的用户。</p>
[% END %]

<p>
  一般而言，你只有在替以 Bugzilla
  2.16 或更早版本建立的群组升级时，才会用到这个选项。<br>
  请<b>小心使用</b>，并阅读使用说明以获得更多信息。
</p>

<form method="post" action="editgroups.cgi">
  <input type="hidden" name="group_id" value="[% group.id FILTER html %]">
  <input type="hidden" name="regexp" value="[% regexp FILTER html %]">
  <input type="hidden" name="action" value="remove_regexp">

  <input name="token" type="hidden" value="[% token FILTER html %]">
  <input id="confirm" name="confirm" type="submit" value="确认">
  <p>或<a href="editgroups.cgi">回到编辑群组页</a>。</p>
</form>

[% PROCESS global/footer.html.tmpl %]
